/* Regardless of the option that you pick, there are several project requirements that you'll need to meet:
--- flexbox, media queries, mobile-first development, responsive navigation, input types for the forms ---
Create a page layout using flexbox
Implement appropriate media queries for responsive design
Follow a mobile-first development approach
Use responsive navigation
Use appropriate input types for the form */
/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  /* max-width: 1200px; */
  width: 100%;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  height: auto;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  margin-bottom: 40px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 90px;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
  list-style-type: none;
  font-size: x-large;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  /* justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end; */
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.date::placeholder {
  color: black;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: flex-start; */
}
/* ------- About ------- */
.col {
  flex-direction: column;
  align-items: center;
}

/* .item {
  flex: 1;
  margin: 20px;
} */
/* main img {
  width: 10opx;
} */
/* .item {
  padding: 5px;
  width: 50px;
  margin: 5px;
} */

/* ------- Ideas ------- */
.col2 {
  flex-direction: column;
  align-items: center;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query for Desktop ------- */
/* When a web browser is larger than 600 pixels,
   apply these rules. */
/* *** media query for header */
@media all and (min-width: 600px) {
  header {
    /* Changes the default setting from `block` to `flex`. */
    display: flex;
    /* Pushes the items (the title and nav) to the far sides of the 
       browser with space between them. */
    justify-content: space-between;
    align-items: center;
    /* Adds 0 pixels padding top and bottom, and 30 pixels padding 
       left and right. */
    padding: 0 30px;
  }

  header nav {
    /*
      Pushes the navigation container down by 8 pixels to make it
      present a little better visually within the space.
    */
    margin-top: 8px;
    align-items: center;
  }

  /* Users cannot hover on mobile devices, so that is why you
     implement this behavior only for larger screens. */
  header nav ul li a:hover {
    /* Targets the change when a user holds the pointer over the anchor tag 
       (link) within the list items within the unordered list that 
       is within the navigation that is within the header. */
    color: #bdbdbd;
  }
}

/* form - iphone view rule */
@media all and (min-width: 1200px) {
  .form-container {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
  }
  .space-between {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
  }
}

.button-container {
  border: solid 4px black;
  display: flex;
  justify-content: flex-end;
}

/* *** media query for search button */

/* media query for pictures */
@media all and (min-width: 600px) {
  .col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .picture-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .col2 {
    flex: 0 0 calc(35% - 20px);
    margin: 5px;
  }
  .padding {
    margin: 10px;
  }
  /* .body-container {
      /* margin: 0 5%; */
}
